@use '../../styles/vars';

.card{
  width: 300px;
  background-color: vars.$white-color;
  border-radius: vars.$border-radius-input;
  // box-shadow: 4px 24px 60px rgba(0,0,0, 0.15);
  box-shadow: 4px 24px 60px rgba(124, 81, 81, 0.10);

  &--dark{
    background-color: vars.$dark-color;
    color: vars.$white-color;
  }

  &__link{

  }

  &__image{
    border-radius: vars.$border-radius-input;
    height: auto;
    min-height: 350px;
    width: 300px;
    object-fit: cover;
  }

  &__title{
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 1.1rem;
  }

  &__website{
    text-align: left;
    padding-left: 0.5rem;
    color: vars.$light-color-plus;
    // background-color: vars.$light-color;
    // font-weight: bold;
    margin-top: 1rem;
  }

  &__meta{
    padding-top: 1rem;
  }

  &__tags{
    display: flex;
    padding: 0.5rem;

    &-category{
      width: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
      

      &--item{

      }
    }

    &-techno{
      width: 50%;
      display:flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0.5rem;
      padding: 0 0.5rem;

      align-items: center;
      // font-weight: bold;
      font-size: 0.9rem;
      &--item{
        background-color: vars.$light-color;
        padding: 0.3rem;
        border-radius: vars.$border-radius-input;
        &--dark{
          background-color: vars.$text-color;
        }
      }
    }
  }

  &__level{
    background-color: vars.$light-color;
    color: rgba(vars.$primary-color, 0.5);
    border-radius: 0 0 vars.$border-radius-input vars.$border-radius-input;
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform:uppercase;
    &--dark{
      background-color: vars.$text-color;
    }
  }

  &__buttons-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  &__button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: vars.$primary-color;

    &.media{
      padding: 0;
      &:hover{
        font-weight: bold;
        color: vars.$primary-color-plus;
      }
    }

    &.bookmark{
      font-size: 1.2rem;
      &:hover{
        color: vars.$primary-color-plus;
      }
    }
  }
}
