@use '../../../../styles/vars';

.nav-item-drop{
  width: calc(60px * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button{
  width: calc(60px * 0.6);
  height: calc(60px * 0.6);
  background-color: vars.$very-light-color;
  border-radius: vars.$border-radius-input;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
  color: vars.$text-color;


  &-drop{
    width: calc(60px * 0.6);
    height: calc(60px * 0.6);
    background-color: vars.$white-color;
    border-radius: vars.$border-radius-input;
    padding: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 300ms;
    color: vars.$text-color;

    &--dark{
      background-color: vars.$dark-color;
      color: vars.$white-color;
      &:hover{
        background-color: rgb(14, 14, 14);
        color: vars.$primary-color;
      }
    }

    &:hover{
      filter: brightness(0.97);
      color: vars.$primary-color;
    }
  }

  &.icon-button:hover{
    filter: brightness(0.97);
    color: vars.$primary-color;
  }

  & > svg {
    width: 20px;
    height: 20px;  
  }
}
