@use '../../styles/vars';

.header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 2rem 5rem 2rem;
    align-items: center;
    
    &__logo{
        height: 2rem;
    }

    &__search-bar{

    }

    &__button{

    }
}

.user-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: vars.$primary-color;
}

@media (max-width: 640px) {
    .header{
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;
        
        &__logo{
            height: 1.3rem;
        }

        &__button{

        }
    }
}
