@use '../../styles/vars';

.add-card{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
  gap: 2rem;

  &__title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: vars.$text-color;
  }
}
