@use '../../styles/vars';

.add-card{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
  gap: 2rem;



  &__form{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    gap: 2rem;
  }

  &__title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: vars.$text-color;
    &--dark{
      color: vars.$white-color;
    }
  }

  &__input{

    &-title{

    }

    &-description{

    }

    &-url{

    }
    
    &-image{

    }

    &-type{
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      
    }

    &-level{
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
    }

    &-language{
      padding: 0.5rem;
      border-radius: vars.$border-radius-input;
      border: 1px solid vars.$light-color;
      outline: none;
      color: vars.$text-color;
      font-size: 1em;
      appearance: none;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;

      &::-ms-expand{
        display: none;
      }

      &:focus{
        border: 2px solid vars.$primary-color;
      }
    }

    &-techs{

    }

    &-certified{
      margin-top: 2rem;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      &--dark{
        color: vars.$white-color;
      }
    }
  }

  &__button{
    margin-top: 2rem;
    text-align: center;
  }
}

#field-newCardDescription{
  height: 10rem;
}

#field-title{
  
}

@media screen and (max-width: 600px) {
  .add-card{
    padding: 1rem;
  }
}
