@use '../../../../styles/vars';

.nav-text-button{
  width: auto;
  height: 35px;
  color: vars.$white-color;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: vars.$primary-color-gradient;
  border-radius: vars.$border-radius-input;
  padding: 0.5rem;
  white-space: nowrap;
  margin: 0.5rem;
  transition: filter 300ms;
  &:hover{
    filter: brightness(0.90);
  }
}

.icon-active{
  width: calc(60px * 0.6);
  height: calc(60px * 0.6);
  background-color: vars.$light-color;
  border-radius: vars.$border-radius-input;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
  color: vars.$primary-color;

  & > svg {
    width: 20px;
    height: 20px;
  }

  &:hover{
    filter: brightness(0.90);
  }
}
