@use '../../styles/vars';

.user-bookmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: vars.$text-color;

  &--dark{
    color: vars.$white-color;
  }

  &__user-container {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__initials {
      text-align: center;
      width: 6rem;
      height: 6rem;
      font-weight: bold;
      font-size: 3rem;
      background-color: vars.$primary-color;
      color: vars.$white-color;
      border: none;
      border-radius: 50%;
      padding-top: 1.5rem;
    }

    &__username {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  &__thumbs {
    display: flex;
    margin: 2rem;
    font-size: 1.5rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    

    &__thumb {
      cursor: pointer;
      background-color: vars.$light-color;
      border-radius: 10px 10px 0 0;
      border-bottom: solid 1px vars.$primary-color;
      padding: .5rem 1.5rem;
      margin: -.5rem;
      z-index: auto;

      &--dark{
        cursor: pointer;
        background-color: vars.$light-color;
        color: vars.$text-color;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 1px vars.$primary-color;
        padding: .5rem 1.5rem;
        margin: -.5rem;
        z-index: auto;  
      }

      &--active {
        cursor: pointer;
        background-color: vars.$white-color;
        color: vars.$primary-color-plus;
        border: solid 1px vars.$primary-color;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        padding: .5rem 1.5rem;
        margin: -.5rem;
        z-index: 1;

        &--dark {
          cursor: pointer;
          background-color: vars.$dark-color;
          color: vars.$primary-color;
          border: solid 1px vars.$primary-color;
          border-bottom: none;
          border-radius: 10px 10px 0 0;
          padding: .5rem 1.5rem;
          margin: -.5rem;
          z-index: 1;  
        }
      }

    }
  }

  &__bookmarks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
