@use '../../styles/vars';

.user-account {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: vars.$text-color;
  width: 30vw;
  margin: auto;
  font-size: 1rem;
  margin-top: 3rem;

  &--dark{
    color: vars.$white-color;
  }

  &__title {
    font-weight: bold;
    font-size:1.2rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-weight: bold;
    margin-top: 1rem;
  }

  &__button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .user-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: vars.$text-color;
    width: 90vw;
    margin: auto;
    font-size: 1rem;
    margin-top: 3rem;
  
    &--dark{
      color: vars.$white-color;
    }
  
    &__title {
      font-weight: bold;
      font-size:1.2rem;
      margin-bottom: 1rem;
    }
  
    &__subtitle {
      font-weight: bold;
      margin-top: 1rem;
    }
  
    &__button-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 4rem;
    }
  }
}

