@use '../../styles/vars';

.user-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: vars.$text-color;
  font-size: 1rem;
  margin-top: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
      font-weight: bold;
      font-size:1.2rem;
    }

    &__subtitle {
      font-weight: bold;
      margin-top: 1rem;
    }

    &__new-password-container {
      display: flex;
      gap: 1rem;
    }

    &__validation-buttons-container{
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}
