@use '../../styles/vars';

.delete-user-modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: vars.$white-color;
    border-radius: vars.$border-radius-input;

    &--dark{
      background-color: vars.$text-color;
      color: vars.$white-color;
    }
  }

  &__logo{
    width: 2rem;

    &:hover{
      cursor: pointer;
    }
  }

  &__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;

  }

  &__footer{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  &__title{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: vars.$primary-color;
    padding-top: 10px;
  }

  &__body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 60px;

  }

  &__option{
    display: flex;
    gap: 0.5rem
  }

  &__close{
    font-size: 30rem;
  }
  &__connexion-warning{
    color: vars.$text-color;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4;
    padding: 0.5rem;
    &--dark{
      color: vars.$white-color;
    }
    &__main{
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      font-size: 0.8rem;
    }
  }
}

.linky{
  font-weight: bold;
  color: vars.$primary-color;
  cursor: pointer;
}
