@use '../../styles/vars';

.home {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  align-items: center;
  color: vars.$text-color;

  &--dark{
    color: vars.$white-color;
  }

  &__welcome-container{
    display: flex;
    margin-top: 4rem;
    max-width: 1080px;
    gap: 2.5rem;

    &__slider {
      width: 50%;
      color: rgba(vars.$primary-color, 0.5);
      border-radius: vars.$border-radius-input;

      &--dark {
        color: rgba(vars.$primary-color, 0.5);
        border-radius: vars.$border-radius-input;
      }
    }

    &__actions {
      max-width: 540px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8rem;

      &__catch-title {
        font-size: 2rem;
        font-style: italic;
        line-height: 2.5rem;
      }
    
      &__searchbar-container {
        width: 80%;
      }
    
      &__break {
        width: 20%;
      }
    
      &__catch-phrase {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 2rem;
      }
    }

  }


  &__tags-content-wraper {

    &__tags-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      color: vars.$light-color;
      font-size: .8rem;
      font-weight: bold;
    }
  }

  &__cards-container {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 640px) {
  .home {
    width: 100%;
    gap: 3rem;
    overflow-x: hidden;

    &__catch-title {
      margin-top: 0;
    }

    &__searchbar-container {
      width: 80%;
    }

    &__tags-content-wraper {
      overflow: auto;

      &__tags-container {
        gap: 0;
        justify-content: flex-start;
        margin-right: -1rem;
        margin-left: 1rem;

        &__tag {
          margin-left: 1rem;
        }
      }
    }
  }
}
