@use '../../styles/vars';

.home {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  color: vars.$text-color;

  &__catch-title {
    margin-top: 4rem;
    font-size: 2rem;
    font-style: italic;
    line-height: 2.5rem;
  }

  &__break {
    width: 20%;
  }

  &__catch-phrase {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2rem;
  }

  &__tags-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: vars.$light-color;
    font-size: .8rem;
    font-weight: bold;

    &__tag {
      border-radius: vars.$border-radius-input;
      padding: .5rem;
      white-space: nowrap;
    }
  }

  &__cards-container {
    width: 80%;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .home {
    max-width: 100%;
    padding: 1rem;
    gap: 3rem;
    text-align: center;

    &__catch-title {
      margin-top: 0;
    }

    &__tags-container {
      overflow-x: scroll;
      justify-content: flex-start;
      margin-right: -1rem;
      margin-left: -1rem;

      &__tag {
        margin-left: 1rem;
      }
    }
  }

}
