@use '../../../styles/vars';
.password-field {
  position: relative;

  &__input {
    width: 100%;
    padding: .7em;
    font-size: 1em;
    border: 1px solid vars.$light-color;
    border-radius: vars.$border-radius-input;
    height: 2.5em;

    &:focus {
      border: 2px solid vars.$primary-color;

      & + .password-field-label {
        color: vars.$primary-color;
      }
    }
  }

  &__label {
    display: none;
    position: absolute;
    top: .2rem;
    left: 1.2rem;
    color: vars.$text-color;
    font-size: .7em;
    text-transform: uppercase;
    animation: labelSlideUpAndShow .3s;
  }

  &--has-content {
    .password-field__label {
      display: block;
    }
    .password-field__input {
      padding: 1.4em 1.2em .4em;
    }
  }
}


@keyframes labelSlideUpAndShow{
  0% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
