@use '../../styles/vars';

.card {
border: solid ;
margin-top: 30px;
height : 895px;
width: 798px;

&__title {
  font-weight: bold;
  padding-bottom: 20px;
     
   }
  
&__image {
    padding-top: 33px;
    height: 450px;
    
   };

&__button {
display:block;
width:110px;
line-height:50px;
text-align:center;
float:left;
margin-top: 47px;
margin-left: 177px
};

&__bookmark {
display:block;
float:right;
width:110px;
line-height:50px;
text-align:center;
margin-top: 47px;
margin-right: 177px
};


&__article {
  width : 387px;
  line-height: 2rem;
  margin-left: 196px;
  
}

&__pseudo {
  display:flex;
  font-weight: bold;
  padding-left: 22px;
  padding-top: 30px;
  
  
}

}

