@use '../../styles/vars';

strong {
  font-weight: bold;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: vars.$text-color;

  &__board {
    display: flex;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 70vh;
    max-height: 70vh;
    gap: 1rem;
    box-shadow: 4px 24px 60px rgba(124, 81, 81, 0.10);
    background-color: vars.$white-color;
    border-radius: vars.$border-radius-input;

    &__image-container {
      width: 100%;
      min-height: 100%;

      &__image {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        border-radius: vars.$border-radius-input 0 0 vars.$border-radius-input;
      }
    }

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      padding: 2rem 1rem 2rem 0;
      min-width: 50%;
      min-height: 100%;

      &__title-container {
        display: flex;
        justify-content: space-between;

        &__title {
          font-size: 1.5rem;
        }

        &__lang-container {
          display: flex;
          gap: 1rem;

          &__icon {
            transform: scale(1.5);
          }
        }
      }


      &__description {
        font-size: 1.1rem;
        font-style: italic;
        line-height: 1.5rem;
      }

      &__contributor-container {
        display: flex;
        justify-content: space-between;
      }

      &__tags-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__tags-container {
          display: flex;
          gap: 1rem;

          &__techs-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }

          &__icon {
            transform: scale(1.5);
          }
        }
      }

      &__buttons-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
    }
  }

  &__suggestion-title-container {
    min-width: 60vw;
    text-align: left;

    &__title {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

}
