.app-loading{
&-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &-heart{
    height: 100px;
    width: 100px;
    animation: heartbeat 1s infinite;
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
