$primary-color: #058EA7;
$primary-color-gradient: linear-gradient(90deg, rgba(5,142,167,1) 0%, rgb(1, 167, 201) 100%);
$primary-color-plus: #047083;
$primary-color-plus-gradient: linear-gradient(90deg, rgba(5,126,148,1) 0%, rgba(1,152,182,1) 100%);
$text-color: #222222;
$light-color: #F0EFEF;
$very-light-color: #f8f8f8;
$light-color-plus:#dadada;
$border-radius-input: 5px;
$white-color: white;
$dark-color: #121212;
$dark-color-accent: rgb(37, 37, 37);
$gutter: 1rem;
$shadow-primary: 4px 12px 20px rgba(129, 129, 129, 0.164);

$bg: #242526;
$bg-accent: #484a4d;
$header-text-color: #dadce1;
$nav-size: 60px;
$speed: 500ms;


