@use '../../styles/vars';

.carousel {
  border-radius: vars.$border-radius-input;

}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  &__image {
    object-fit: cover;
    min-height: 100%;
  }
  
  &__title {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;

  }

}

